
	<div class="section section-lg section-bottom" ng-controller="SubCollectionCtrl">
      <div>
      	<button ng-click="toggleFilter=true" ng-hide="toggleFilter" class="filter-expander">
            <i class="fa fa-search fa-lg white"></i>Search
         </button>
     	  <div class="filter-panel" ng-show="toggleFilter">
     		<div>		         
	          <div class="row-heading row-heading-mt-40">
	            <div class="col-sm-12">
	              <h3 class="title-sm text-uppercase hr-left text-theme"><i class="fa fa-search fa-lg white"></i>Sub Collection		             
		              	<i ng-click="toggleFilter=false" class="pull-right pointer-cursor fa fa-close fa-lg white"> &nbsp</i>             	          
		              </h3>	
	            </div>
	          </div>
	          <div class="row mb">
		        <div class="col-md-12">
		          <div class="wrapper-form-box">
		            <h3 class="title-sm">Search</h3>
		            <form class="form-horizontal">
		              <div class="form-group">			                
		              	<label class="control-label col-sm-3">Collection</label>
		                  <div class="col-sm-9">
		                  	<div class="input-group">
		                  		<input type="text" class="form-control" placeholder="Collection ID" value={{search.collectionId}} readonly>
					           	<span class="input-group-addon" ><a ng-click="openSearchLeftPanel()"><i class="fa fa-search"></i></a></span>						            
					         </div>
		                  </div>			                  
		              </div>		            
				      <div class="form-group">
				       <label class="control-label col-sm-3">IGSN</label>	
				        <div class="col-sm-9"><input type="text"  class="form-control" placeholder="IGSN" ng-model="search.igsn"></div>		         
				      </div>
				      <div class="form-group">
				       <label class="control-label col-sm-3">Storage location</label>
				        <div class="col-sm-9"><select class="form-control" ng-model="search.locationInStorage" ng-options="location as location for location in locations"></select></div>			          					         
				      </div>
				      <div class="form-group">
				        <label class="control-label col-sm-3">Storage Type</label>
				        <div class="col-sm-9"><select class="form-control" ng-model="search.storageType" ng-options="storageType as storageType for storageType in storageTypes"></select></div>	
				      </div>					      
				      <div class="form-group">
				        <label class="control-label col-sm-3">Source</label>			       
				        <div class="col-sm-9"><input type="text" class="form-control" placeholder="Source" ng-model="search.source"></div>		         			        
				      </div>
				      <div class="form-group">	
		              	<div class="col-sm-12">		                			              			                
							<button type="submit" class="btn btn-primary text-theme-xs pull-right" ng-click="searchSubCollection(1,paginationOptions.pageSize,true)">Search</button>		
							<button class="btn btn-red text-theme-xs pull-left" ng-click="resetSearchForm()">Reset Form</button>		
						</div>					           					            						         			                		                  
		              </div>					             			             
		            </form>
		          </div>
		        </div>
		      </div>
	      </div>   	
     	</div>
      
          
        <div class="row mb">
          <div class="col-md-12">
			<div class="row row-tabs" role="tabpanel">
			  <div class="col-md-12">
				  <div class="row mb" >				  						  	
		          	<div class="panel panel-default col-md-8">		          	
					  <div class="panel-heading">Collections</div>						  				 
					   <div id="SubCollectionGrid"  ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui.grid.resizeColumns class="collection-grid" ></div>						 
					</div>
		          
					<div class="panel text-theme panel-primary col-md-4">
					  <div class="panel-heading">
					    <h3 class="panel-title">Manage SubCollection</h3>
					  </div>
					  <div class="panel-body">
					    <form class="form-horizontal">
					      <div class="form-group has-success">					       
					        <div class="col-sm-10">
					          <button class="btn btn-rounded btn-green" type="button" ng-click="resetForm()">Clear Form</button>					         
					        </div>
					      </div>
					      <div class="form-group has-success">
					        <label class="col-sm-3 control-label" for="inputSuccess">Subcollection ID</label>
					        <div class="col-sm-9">
					          <input type="text" class="form-control" placeholder="SubCollection Id - AUTOGENERATED" value={{form.subcollectionId}} readonly>
					         
					        </div>
					      </div>
					      <div class="form-group has-success">
					        <label class="col-sm-3 control-label" for="inputSuccess">IGSN Number</label>
					        <div class="col-sm-9">
					          <input type="text"  class="form-control" placeholder="IGSN - AUTOGENERATED" ng-model="form.igsn" readonly>					         
					        </div>
					      </div> 
					      <div class="form-group has-success">
					        <label class="col-sm-3 control-label" for="inputSuccess">Collection ID</label>
					        <div class="col-sm-9">					          
					          <div class="input-group">
		                  		<input  type="text" class="form-control must-select" placeholder="Collection ID" ng-model="form.rsCollection['collectionId']" readonly>
					           	<span class="input-group-addon" ng-click="openSearch()"><a href="#" onclick="return false;"><i class="fa fa-search"></i></a></span>						            
						      </div>
					        </div>
					      </div>						     				      					     
					      <div class="form-group has-success">
					        <label class="col-sm-3 control-label" for="inputSuccess">Location in Storage</label>
					        <div class="col-sm-9">						          
					           <select class="form-control" ng-model="form.locationInStorage" ng-options="location as location for location in locations"></select>
					         
					        </div>
					      </div>					      
					       <div class="form-group has-success">
					        <label class="col-sm-3 control-label" for="inputSuccess">Storage Type</label>
					        <div class="col-sm-9">						          
					          <select class="form-control" ng-model="form.storageType" ng-options="storageType as storageType for storageType in storageTypes"></select>
					          
					        </div>
					      </div>
					      <div class="form-group has-success">
					        <label class="col-sm-3 control-label" for="inputSuccess">Hazardous</label>
					        <div class="col-sm-9">						          
					          <select class="form-control" ng-model="form.hazardous" ng-options="boolean.value as boolean.YesNo for boolean in booleans"></select>	
					         
					        </div>
					      </div>					      					      
					      <div class="form-group has-success">
					        <label class="col-sm-3 control-label" for="inputSuccess">Source</label>
					        <div class="col-sm-9">
					          <input type="text" class="form-control" placeholder="Source" ng-model="form.source">
					        
					        </div>
					      </div>	
					      <div class="form-group has-success">
					        <label class="col-sm-3 control-label" for="inputSuccess">Total Pallet Weight</label>
					        <div class="col-sm-9">
					          <input type="number"  class="form-control" placeholder="Total Pallets" ng-model="form.totalPallet">					         
					        </div>
					      </div>
					      <div class="form-group has-success">
					        <label class="col-sm-3 control-label" for="inputSuccess">Previous Pallet Id</label>
					        <div class="col-sm-9">
					          <input type="text"  class="form-control" placeholder="Previous Pallet Id" ng-model="form.previousPalletId">					         
					        </div>
					      </div>
					      <div class="form-group has-success">
					        <label class="col-sm-3 control-label" for="inputSuccess">Disposed Due to Insufficient Info</label>
					        <div class="col-sm-9">						          
					          <select class="form-control" ng-model="form.disposedInsufficientInfo" ng-options="boolean.value as boolean.YesNo for boolean in booleans"></select>	
					         
					        </div>
					      </div>
					      <div class="form-group has-success">					       
					        <div class="col-sm-12">
					          <button class="btn btn-rounded btn-green pull-right" ng-click="submit()" type="button">Add/update</button>					         
					        </div>
					      </div>	    					    
					    </form>
					  </div>
					</div>			         	
				  </div>			    
			  </div>
			</div>           
          </div>         
        </div>
      </div>
    </div>

