
	<div class="section section-lg section-bottom">
      <div>    
        <div class="row mb">
          <div class="col-md-12">
			<div class="row row-tabs" role="tabpanel">
			  <div class="col-md-12">
				  <div class="row mb" ng-controller="UserSettingsCtrl">				  						  
		          	<div class="panel panel-default col-md-8">		          	
					  <div class="panel-heading">User Management</div>	
					   <spinner name="usersettings.grid" ng-cloak="" >
					   	   <div class="overlay"></div>
						   <div class="spinner">
						     <div class="double-bounce1"></div>
						     <div class="double-bounce2"></div>
						   </div>
						   <div class="please-wait">Please Wait...</div>
					   </spinner>					 
					   <div id="CollectionGrid"  ui-grid="gridOptions" ui-grid-selection ui.grid.resizeColumns class="collection-grid" ></div>						 
					</div>
		          
					<div class="panel text-theme panel-primary col-md-4">
					  <div class="panel-heading">					  	 					  
					    <h3 class="panel-title">Manage Users</h3>
					  </div>
					  <div class="panel-body">
					    <form name="userForm" class="form-horizontal">
					    
					      <div class="form-group has-success">					       
					        <div class="col-sm-12">
					          <button type="reset" class="btn btn-rounded btn-green" type="button" ng-click="resetForm()">Clear Form</button>					         
					        </div>
					      </div>					      
					      <div class="form-group has-success">
					        <label class="col-sm-4 control-label" for="inputSuccess">User Name</label>
					        <div class="col-sm-8">
					          <input type="text" class="form-control" placeholder="User Name" ng-model="form.contactName" >
					          
					        </div>
					      </div>
					      <div class="form-group has-success">
					        <label class="col-sm-4 control-label" for="inputSuccess">organization</label>
					        <div class="col-sm-8">
					          <input type="text"  class="form-control" placeholder="Organization" ng-model="form.organization">					         
					        </div>
					      </div>
					      <div class="form-group has-success">
					        <label class="col-sm-4 control-label" for="inputSuccess">Phone</label>
					        <div class="col-sm-8">
					          <input type="text"  class="form-control" placeholder="Phone" ng-model="form.phone">					         
					        </div>
					      </div>
					      <div class="form-group has-success">
					        <label class="col-sm-4 control-label" for="inputSuccess">Email</label>
					        <div class="col-sm-8">
					          <input type="email" name="email" class="form-control" placeholder="Email" ng-model="form.email">					         
					        </div>
					      </div>
					      <div class="form-group has-success">
					        <label class="col-sm-4 control-label" for="inputSuccess">Address</label>
					        <div class="col-sm-8">
					          <input type="text"  class="form-control" placeholder="Address" ng-model="form.address">					         
					        </div>
					      </div>
					      <div class="form-group has-success">
					        <label class="col-sm-4 control-label" for="inputSuccess">City</label>
					        <div class="col-sm-8">
					          <input type="text"  class="form-control" placeholder="City" ng-model="form.city">					         
					        </div>
					      </div>
					      <div class="form-group has-success">
					        <label class="col-sm-4 control-label" for="inputSuccess">State</label>
					        <div class="col-sm-8">
					          <input type="text"  class="form-control" placeholder="State" ng-model="form.state">					         
					        </div>
					      </div>
					      <div class="form-group has-success">
					        <label class="col-sm-4 control-label" for="inputSuccess">Postcode</label>
					        <div class="col-sm-8">
					          <input type="text"  class="form-control" placeholder="Postcode" ng-model="form.zipCode">					         
					        </div>
					      </div>
					      <div class="form-group has-success">					       
					        <div class="col-sm-12">
					          <button class="btn btn-rounded btn-green pull-right" ng-click="submit()" type="button">Add User</button>
					          <button class="btn btn-rounded btn-red pull-left" ng-click="removeUser()" type="button">Delete</button>					         
					        </div>					        
					      </div>				      
					    </form>
					  </div>
					</div>			         	
				  </div>			    
			  </div>
			</div>           
          </div>         
        </div>
      </div>
    </div>

