
   
<div class="section section-lg section-bottom" ng-controller="BatchLogCtrl">
	
		
       	   <div class="row mb">
          	<div class="section section-xs section-bottom">
		      <div class="container">
		        <div class="row mb">
		          <div class="col-md-10 col-md-offset-1">
		            <h3 class="title-md hr-left text-theme">Batch Import Log</h3>
		            <div class="panel panel-primary text-theme">
		              <div class="panel-heading">
		                <h3 class="panel-title">Batch List</h3>
		              </div>
		               <div class="panel-body">		               
	                	 <table class="detailTbl">								     	
					       <thead>
					         <tr>						                                
					             <th>id</th>
					             <th>start time</th>
					             <th>end time</th>
					             <th>error count</th>	
					             <th>user</th>
					             <th>start id</th>
					             <th>end id</th>
					             <th>logs</th>						            					             
					         </tr>
					         </thead>
					         <tbody>
					         <tr ng-repeat="batch in batchs">
						             <td>{{batch.id}}</td>
						             <td>{{batch.startTime | date:'d/MMM/yyyy'}}</td>
						             <td>{{batch.endTime | date:'d/MMM/yyyy'}}</td>
						             <td>{{batch.error}}</td>
						             <td>{{batch.batchUser}}</td>
						             <td>{{batch.startId}}</td>
						             <td>{{batch.endId}}</td>
						             <td><a ng-click='listBatchError(batch.id)'>View Log</a></td>						                        
						         </tr>
					         </tbody>
					     </table>							               	 
		               </div>
		              <h3 class="title-md text-center title-striped">Batch Log</h3>
		              
		              <div class="panel-body">
		                <div class="scroll-table">
						     <table class="detailTbl">
						     	
						       <thead>
						         <tr>						                                
						             <th>id</th>
						             <th>Excel Row</th>
						             <th>Error</th>
						             <th>Column</th>							             						            					             
						         </tr>
						         </thead>
						         <tbody>
						         <tr ng-repeat="batchlog in batchlogs">
						             <td>{{batchlog.id}}</td>
						             <td>{{batchlog.excelRow}}</td>
						             <td>{{batchlog.errorMessage}}</td>
						             <td>{{batchlog.excelColumn}}</td>							             						                       
						         </tr>
						         </tbody>
						        
						     </table>
					     </div>
					     
					     
		               
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>        
           </div>
        
   		 
 </div>
  
   
