
   
   <div class="section section-lg section-bottom" ng-controller="BrowseSubCollectionCtrl">
      <div>    
        <div class="row mb">
          <div class="col-md-12">
			  <div class="col-sm-4 grid-sidebar">		         
		          <div class="row-heading row-heading-mt-40">
		            <div class="col-sm-12">
		              <h3 class="title-sm text-uppercase hr-left text-theme">Sub-Collection</h3>
		            </div>
		          </div>
		          <div class="row mb">
			        <div class="col-md-12">
			          <div class="wrapper-form-box">
			            <h3 class="title-sm">Search</h3>
			            <form class="form-horizontal">
			              <div class="form-group">			                
			              	<label class="control-label col-sm-3">Collection</label>
			                  <div class="col-sm-9">
			                  	<div class="input-group">
			                  		<input type="text" class="form-control" placeholder="Collection ID" value={{searchCollectionId}} readonly>
						           	<span class="input-group-addon" ng-click="openSearch()"><a href="#" onclick="return false;"><i class="fa fa-search"></i></a></span>						            
						         </div>
			                  </div>			                  
			              </div>
			              <div class="form-group">
					       <label class="col-sm-3 control-label">Old ID</label>	
					        <div class="col-sm-9"><input type="text"  class="form-control" placeholder="Original ID" ng-model="form.oldId"></div>		         
					      </div>
					      <div class="form-group">
					       <label class="col-sm-3 control-label">Storage location</label>
					        <div class="col-sm-9"><select class="form-control" ng-model="form.locationInStorage" ng-options="location as location for location in locations"></select></div>			          					         
					      </div>
					      <div class="form-group">
					        <label class="col-sm-3 control-label">Storage Type</label>
					        <div class="col-sm-9"><select class="form-control" ng-model="form.storageType" ng-options="storageType as storageType for storageType in storageTypes"></select></div>	
					      </div>
					      <div class="form-group">
					        <label class="col-sm-3 control-label">Hazardous</label>			       
					        <div class="col-sm-9"><select class="form-control" ng-model="form.hazardous" ng-options="boolean.value as boolean.YesNo for boolean in booleans"></select></div>		         			        
					      </div>	
					      <div class="form-group">
					        <label class="col-sm-3 control-label">Source</label>			       
					        <div class="col-sm-9"><input type="text" class="form-control" placeholder="Source" ng-model="form.source"></div>		         			        
					      </div>
					      <div class="form-group">	
			              	<div class="col-sm-12">		                			              			                
								<button type="submit" class="btn btn-primary text-theme-xs pull-right" ng-click="search">Search</button>		
							</div>					           					            						         			                		                  
			              </div>					             			             
			            </form>
			          </div>
			        </div>
			      </div>
		      </div>      
		      <div class="col-sm-8 grid-posts">
		          <!-- POST ITEM 1 -->
		          <div class="row">
		            <div class="col-sm-12">
		            
		            	<!-- Start repeat -->
			            <div class="panel-acc panel-group panel-group-v1 panel-group-icon-v1 icon-right" id="accordion-icon-right" ng-repeat="subcollection in subcollections">			            
						  <div class="panel panel-default panel-collapse-in">
						    <div class="panel-body">
						      					      	
						          <div class="wrapper-post">		                
					                <div class="wrapper-post-text">
					                  <h3 class="title-lg text-uppercase text-theme">{{subcollection.subcollectionId}}</h3>
					                  <ul class="list-unstyled list-inline text-theme post-date-author">
					                    <li>
					                      <i class="fa fa-map-marker"></i> Location: {{subcollection.locationInStorage}}
					                    </li>
					                    <li>
					                      <i class="fa fa-barcode"></i> Storage Type: {{subcollection.storageType}}
					                    </li>
					                    <li>
					                      <i class="fa fa-star"></i> Previous Id: {{subcollection.oldId}}
					                    </li>					                    
					                  </ul>
					                  <br>
   
				                    <div class="ibox-content">						
				                        <table class="detailTbl">
				                            <thead>
				                            <tr>						                                
				                                <th>Sub-Collection</th>
				                                <th>&nbsp</th>						                                						                               
				                            </tr>
				                            </thead>
				                            <tbody>
				                            <tr>
				                                <th>Collection</th>
				                                <td><a href="#/browsecollections/{{subcollection.rsCollection['collectionId']}}"><i class="fa fa-link"> {{subcollection.rsCollection['collectionId']}}</i></a></td>						                               
				                            </tr>
				                            <tr ng-show="subcollection.hazardous">
				                                <th>Hazardous</th>
				                                <td><i class="fa fa-warning"></i> {{subcollection.hazardous}}</td>						                               
				                            </tr>
				                            <tr>
					            				<th>Container Range</th>
					            				<td>{{subcollection.sampleRangeBySubcollection['minContainer']}} - {{subcollection.sampleRangeBySubcollection['maxContainer']}} </td>
					            			</tr>
					            			<tr>
					            				<th>Sample Range</th>
					            				<td>{{subcollection.sampleRangeBySubcollection['minSample']}} - {{subcollection.sampleRangeBySubcollection['maxSample']}}</td>
					            			</tr>
				                            <tr ng-show="subcollection.totalPallet">
				                                <th>Number Of Pallets</th>
				                                <td>{{subcollection.totalPallet}}</td>						                               
				                            </tr>
				                             <tr ng-show="subcollection.source">
				                                <th>Source</th>
				                                <td>{{subcollection.source}}</td>						                               
				                            </tr>
				                            </tbody>
				                        </table>
				                    </div>					                    
				                    <div id="collapse-{{subcollection.subcollectionId}}" class="panel-collapse collapse">
				                    
								      <div class="panel-body">
								       <div class="ibox-content">	
								       	 <h4 class="panel-title">List of Sample</h4><br>
								         <table class="table lightHeader">
											<thead>
											<tr>
												<th>IGSN</th>
												<th>Borehole</th>
												<th><i class="fa fa-map-marker"></i> location</th>	
												<th>View</th>																								
												<th>Link</th>
											</tr>
											</thead>
											<tbody>
											<tr ng-repeat-start="sample in samples[subcollection.subcollectionId]">
												<td>{{sample.igsn}}</td>
												<td>{{sample.bhid}}</td>
												<td><a href="#" onclick="return false;" ng-click="open(sample.lat,sample.lon,sample.igsn)"><i class="fa fa-map-marker">LOCATION({{sample.lat}},{{sample.lon}}:{{sample.datum}})</i></a></td>
												<td><a onclick="return false;"  href="#" data-toggle="collapse" data-target=".collapse-sample-{{sample.id}}"><i class="fa fa-eye"></i>View</a></td>																							
												<td><a href="#/browsesamples/{{sample.id}}"><i class="fa fa-link"></i> GOTO</a></td>
											</tr>
											<tr ng-repeat-end class="panel-collapse collapse out collapse-sample-{{sample.id}}">
												<td colspan="5">
													<table class="table table-borderless">
														<tbody>
															<tr>
																<th>Sub-Collection Id</th>
																<td>{{sample.subcollectionId}}</td>																
															</tr>
															<tr>
																<th>CSIRO Sample Id</th>
																<td>{{sample.csiroSampleId}}</td>																
															</tr>
															<tr>
									            				<th>Sample Type</th>
									            				<td>{{sample.sampleType}} </td>
									            			</tr>
									            			<tr>
									            				<th>Depth</th>
									            				<td>{{sample.depth}}</td>
									            			</tr>
															<tr>
																<th>Datum</th>
																<td>{{sample.datum}}</td>																
															</tr>
															<tr>
																<th>Zone</th>
																<td>{{sample.zone}}</td>																
															</tr>
															<tr>
																<th>Container</th>
																<td>{{sample.containerId}}</td>																
															</tr>
															<tr>
																<th>External Reference</th>
																<td>{{sample.externalRef}}</td>																
															</tr>	
															<tr>
																<th>Sample Collector</th>
																<td>{{sample.sampleCollector}}</td>																
															</tr>
															<tr>
																<th>Date Sampled</th>
																<td>{{sample.dateSampled | date:'d/MMM/yyyy'}}</td>																
															</tr>
															<tr>
																<th>Sample Dispose?</th>
																<td>{{sample.sampleDispose}}</td>																
															</tr>
															<tr>
																<th>Date Disposed</th>
																<td>{{sample.dateDisposed | date:'d/MMM/yyyy'}}</td>																
															</tr>
															<tr>
																<th>Staff Disposed</th>
																<td>{{sample.staffidDisposed}}</td>																
															</tr>														
														</tbody>
													</table>
												</td>
											</tr>																						
											</tbody>
										  </table>
										</div>
								      </div>
								    </div>				                    
				                  <br>					                  
				                  <a onclick="return false;" ng-click="getSubCollection(subcollection.subcollectionId)" href="#collapse-{{subcollection.subcollectionId}}" data-toggle="collapse" data-target="#collapse-{{subcollection.subcollectionId}}" class="text-theme btn btn-primary btn-md">Sample List</a>					                  
				                </div>
				              </div>
						    </div>
						    
						  </div>
						   <hr class="hr-divider-xs">						  
						</div>		           
						 <!-- end repeat -->
						 
		            </div>
		          </div>
		        	 
		          <!-- PAGINATAION -->
		          <div class="row">
		            <div class="col-sm-12">
		              <ul class="pagination pagination-lg">
		                <li class="active">
		                  <a href="#">1</a>
		                </li>
		                <li>
		                  <a href="#">2</a>
		                </li>
		                <li>
		                  <a href="#">3</a>
		                </li>
		                <li>
		                  <a href="#">4</a>
		                </li>
		                <li>
		                  <a href="#">Next Page &raquo;</a>
		                </li>
		              </ul>
		            </div>
		          </div>
		        </div>   
          </div>         
        </div>
      </div>
    </div>
  
   
