
   
   <div class="section section-lg section-bottom" ng-controller="BrowseCollectionCtrl">
      <div>    
        <div class="row mb">
          <div class="col-md-12">
			  <div class="col-sm-4 grid-sidebar">		         
		          <div class="row-heading row-heading-mt-40">
		            <div class="col-sm-12">
		              <h3 class="title-sm text-uppercase hr-left text-theme">Search</h3>
		            </div>
		          </div>
		          <div class="row">
		            <div class="col-sm-12">
		               <div class="icon-box bordered">		               
		                <h3 class="title-sm text-theme">Collections</h3>
		                <hr class="hr-divider-xs">
		                <form class="form-horizontal">					    					      
					      <div class="form-group has-success">
					        <label class="col-sm-2 control-label" for="inputSuccess">Collection ID</label>
					        <div class="col-sm-10">
					          <input type="text" class="form-control" placeholder="Collection ID">
					         
					        </div>
					      </div>
					      <div class="form-group has-success">
					        <label class="col-sm-2 control-label" for="inputSuccess">Project</label>
					        <div class="col-sm-10">
					          <input type="text"  class="form-control" placeholder="Project">
					         
					        </div>
					      </div>					     			    					   
					    </form>
		              </div>		             
		            </div>
		          </div>
		      </div>    
		      <div class="col-sm-8 grid-posts">
		          <!-- POST ITEM 1 -->
		          <div class="row">
		            <div class="col-sm-12">
		            
		            	<!-- Start repeat -->
			            <div class="panel-acc panel-group panel-group-v1 panel-group-icon-v1 icon-right" ng-repeat="collection in collections">			            
						  <div class="panel panel-default panel-collapse-in">
						    <div class="panel-body">
						      					      	
						          <div class="wrapper-post">		                
					                <div class="wrapper-post-text">
					                  <h3 class="title-lg text-uppercase text-theme">{{collection.project}}</h3>
					                  <ul class="list-unstyled list-inline text-theme post-date-author">
					                    <li>
					                      <i class="fa fa-file-o"></i> Collection: {{collection.collectionId}}
					                    </li>
					                    <li>
					                      <i class="fa fa-user"></i> Staff Responsible: Victor Tey
					                    </li>
					                    <li>
					                      <i class="fa fa-calendar"></i> Archive Due: {{collection.archiveDue | date:'d/MMM/yyyy'}}
					                    </li>					                    
					                  </ul>
					                  <br>
   
				                    <div class="ibox-content">						
				                        <table class="detailTbl">
				                            <thead>
				                            <tr>						                                
				                                <th>Collections</th>
				                                <th>&nbsp</th>						                                						                               
				                            </tr>
				                            </thead>
				                            <tbody>
				                            <tr ng-show="collection.projectCloseDate">
				                                <th>Project Close Date</th>
				                                <td><i class="fa fa-calendar"></i> {{collection.projectCloseDate | date:'d/MMM/yyyy'}}</td>						                               
				                            </tr>
				                            <tr ng-show="collection.projectPublication">
				                                <th>Project Publication</th>
				                                <td>{{collection.projectPublication}}</td>						                                
				                            </tr>
				                            <tr ng-show="collection.projectResult">
				                                <th>Project Result</th>
				                                <td>{{collection.projectResult}}</td>						                               
				                            </tr>
				                             <tr ng-show="collection.staffIdFieldManager">
				                                <th>Field Manager</th>
				                                <td>{{collection.staffIdFieldManager}}</td>						                               
				                            </tr>
				                            </tbody>
				                        </table>
				                    </div>					                    
				                    <div id="collapse-{{collection.id}}" class="panel-collapse collapse">
				                    
								      <div class="panel-body">
								       <div class="ibox-content">	
								       	 <h4 class="panel-title">List of SubCollection</h4><br>
								         <table class="table lightHeader">
											<thead>
											<tr>
												<th>SubCollection Id</th>
												<th>Location</th>
												<th>Source</th>
												<th>View</th>																				
												<th>Link</th>
											</tr>
											</thead>
											<tbody>
											<tr ng-repeat-start="subcollection in subcollections[collection.collectionId]">
												<td>{{subcollection.subcollectionId}}</td>
												<td>{{subcollection.locationInStorage}}</td>
												<td>{{subcollection.source}}</td>																								
												<td><a onclick="return false;"  href="#" data-toggle="collapse" data-target=".collapse-{{subcollection.subcollectionId}}"><i class="fa fa-eye"></i>View</a></td>
												<td><i class="fa fa-paper-plane-o"></i></td>
											</tr>	
											<tr ng-repeat-end class="panel-collapse collapse out collapse-{{subcollection.subcollectionId}}">
												<td colspan="5">
													<table class="table table-borderless">
														<tbody>
															<tr>
																<th>Hazardous</th>
																<td>{{subcollection.hazardous}}</td>																
															</tr>
															<tr>
																<th>Old Id</th>
																<td>{{subcollection.oldId}}</td>																
															</tr>
															<tr>
									            				<th>Container Range</th>
									            				<td>{{subcollection.sampleRangeBySubcollection['minContainer']}} - {{subcollection.sampleRangeBySubcollection['maxContainer']}} </td>
									            			</tr>
									            			<tr>
									            				<th>Sample Range</th>
									            				<td>{{subcollection.sampleRangeBySubcollection['minSample']}} - {{subcollection.sampleRangeBySubcollection['maxSample']}}</td>
									            			</tr>
															<tr>
																<th>Storage Type</th>
																<td>{{subcollection.storageType}}</td>																
															</tr>
															<tr>
																<th>Number of Pallets</th>
																<td>{{subcollection.totalPallet}}</td>																
															</tr>															
														</tbody>
													</table>
												</td>
											</tr>
																																
											</tbody>
										  </table>
										</div>
								      </div>
								    </div>				                    				                			                  
				                  <a onclick="return false;" ng-click="getSubCollection(collection.collectionId)" href="#collapse-{{collection.id}}" data-toggle="collapse"  data-target="#collapse-{{collection.id}}" class="text-theme btn btn-primary btn-md">Sub-Collection List</a>					                  
				                </div>
				              </div>
						    </div>
						    
						  </div>
						   <hr class="hr-divider-xs">						  
						</div>		           
						 <!-- end repeat -->
						 
		            </div>
		          </div>
		        	 
		          <!-- PAGINATAION -->
		          <div class="row">
		            <div class="col-sm-12">
		              <ul class="pagination pagination-lg">
		                <li class="active">
		                  <a href="#">1</a>
		                </li>
		                <li>
		                  <a href="#">2</a>
		                </li>
		                <li>
		                  <a href="#">3</a>
		                </li>
		                <li>
		                  <a href="#">4</a>
		                </li>
		                <li>
		                  <a href="#">Next Page &raquo;</a>
		                </li>
		              </ul>
		            </div>
		          </div>
		        </div>   
          </div>         
        </div>
      </div>
    </div>
  
   
