
   
   <div class="section section-lg section-bottom" ng-controller="BrowseSampleCtrl">
      <div>    
        <div class="row mb">
          <div class="col-md-12">
			  <div class="col-sm-4 grid-sidebar">		         
		          <div class="row-heading row-heading-mt-40">
		            <div class="col-sm-12">
		              <h3 class="title-sm text-uppercase hr-left text-theme">Search</h3>
		            </div>
		          </div>
		          <div class="row">
		            <div class="col-sm-12">
		               <div class="icon-box bordered">		               
		                <h3 class="title-sm text-theme">Collections</h3>
		                <hr class="hr-divider-xs">
		                <form class="form-horizontal">					    					      
					      <div class="form-group has-success">
					        <label class="col-sm-2 control-label" for="inputSuccess">Collection ID</label>
					        <div class="col-sm-10">
					          <input type="text" class="form-control" placeholder="Collection ID">
					         
					        </div>
					      </div>
					      <div class="form-group has-success">
					        <label class="col-sm-2 control-label" for="inputSuccess">Project</label>
					        <div class="col-sm-10">
					          <input type="text"  class="form-control" placeholder="Project">
					         
					        </div>
					      </div>					     			    					   
					    </form>
		              </div>		             
		            </div>
		          </div>
		      </div>    
		      <div class="col-sm-8 grid-posts">
		          <!-- POST ITEM 1 -->
		          <div class="row">
		            <div class="col-sm-12">
		            
		            	<!-- Start repeat -->
			            <div class="panel-acc panel-group panel-group-v1 panel-group-icon-v1 icon-right" id="accordion-icon-right" ng-repeat="sample in samples">			            
						  <div class="panel panel-default panel-collapse-in">
						    <div class="panel-body">
						      					      	
						          <div class="wrapper-post">		                
					                <div class="wrapper-post-text">
					                  <h3 class="title-lg text-uppercase text-theme">{{sample.igsn}}</h3>
					                  <ul class="list-unstyled list-inline text-theme post-date-author">
					                    <li>
					                      <i class="fa fa-map-marker"></i> Location: <a>Show me</a>
					                    </li>
					                    <li>
					                      <i class="fa fa-barcode"></i> Borehole: {{sample.bhid}}
					                    </li>
					                    <li>
					                      <i class="fa fa-link"></i> Sample Type: {{sample.sampleType}}
					                    </li>					                    
					                  </ul>
					                  <br>
   
				                    <div class="ibox-content">						
				                        <table class="detailTbl">
				                            <thead>
				                            <tr>						                                
				                                <th>Sample</th>
				                                <th>&nbsp</th>						                                						                               
				                            </tr>
				                            </thead>
				                            <tbody>
				                            <tr>
				                                <th>Collection</th>
				                                <td>{{sample.rsSubcollection['rsCollection']['collectionId']}}</td>						                               
				                            </tr>
				                            <tr>
				                                <th>Sub Collection</th>
				                                <td>{{sample.rsSubcollection['subcollectionId']}}</td>						                               
				                            </tr>
				                            <tr>
					            				<th>Container</th>
					            				<td>{{sample.containerId}}</td>
					            			</tr>
					            			<tr>
					            				<th>CSIRO Sample Id</th>
					            				<td>{{sample.csiroSampleId}}</td>
					            			</tr>
					            			
				            				<tr class="panel-collapse collapse out collapse-{{sample.id}}">
					            				<th>Date Disposed</th>
					            				<td>{{sample.dateDisposed | date:'d/MMM/yyyy'}}</td>
					            			</tr>
					            			<tr class="panel-collapse collapse out collapse-{{sample.id}}">
					            				<th>Date Sampled</th>
					            				<td>{{sample.dateSampled | date:'d/MMM/yyyy'}}</td>
					            			</tr>
					            			<tr class="panel-collapse collapse out collapse-{{sample.id}}">
					            				<th>Datum</th>
					            				<td>{{sample.datum}}</td>
					            			</tr>
					            					                           
				                            </tbody>
				                        </table>
				                    </div>					                    
				                   				                    
				                  <br>					                  
				                  <a onclick="return false;"  href="#collapse-{{sample.id}}" data-toggle="collapse" data-target=".collapse-{{sample.id}}" class="text-theme btn btn-primary btn-md">Sample List</a>					                  
				                </div>
				              </div>
						    </div>
						    
						  </div>
						   <hr class="hr-divider-xs">						  
						</div>		           
						 <!-- end repeat -->
						 
		            </div>
		          </div>
		        	 
		          <!-- PAGINATAION -->
		          <div class="row">
		            <div class="col-sm-12">
		              <ul class="pagination pagination-lg">
		                <li class="active">
		                  <a href="#">1</a>
		                </li>
		                <li>
		                  <a href="#">2</a>
		                </li>
		                <li>
		                  <a href="#">3</a>
		                </li>
		                <li>
		                  <a href="#">4</a>
		                </li>
		                <li>
		                  <a href="#">Next Page &raquo;</a>
		                </li>
		              </ul>
		            </div>
		          </div>
		        </div>   
          </div>         
        </div>
      </div>
    </div>
  
   
