
	<div class="section section-lg section-bottom">
      <div>    
        <div class="row mb">
          <div class="col-md-12">
			<div class="row row-tabs" role="tabpanel">
			  <div class="col-md-12">
				  <div class="row mb" ng-controller="CollectionCtrl">				  						  
		          	<div class="panel panel-default col-md-8">		          	
					  <div class="panel-heading">Collections</div>	
					   <spinner name="collection.grid" ng-cloak="" >
					   	   <div class="overlay"></div>
						   <div class="spinner">
						     <div class="double-bounce1"></div>
						     <div class="double-bounce2"></div>
						   </div>
						   <div class="please-wait">Please Wait...</div>
					   </spinner>					 
					   <div id="CollectionGrid"  ui-grid="gridOptions" ui-grid-selection ui.grid.resizeColumns class="collection-grid" ></div>						 
					</div>
		          
					<div class="panel text-theme col-md-4">
					  <div class="panel-heading">
					    <h3 class="panel-title">Manage Collection</h3>
					  </div>
					  <div class="panel-body">
					    <form class="form-horizontal">
					    
					      <div class="form-group has-success">					       
					        <div class="col-sm-12">
					          <button class="btn btn-rounded btn-green" type="button" ng-click="resetForm()">Clear Form</button>					         
					        </div>
					      </div>
					      <div class="form-group has-success">
					        <label class="col-sm-4 control-label" for="inputSuccess">Collection ID</label>
					        <div class="col-sm-8">
					          <input type="text" class="form-control" placeholder="Collection ID" value={{form.collectionId}} readonly>
					          
					        </div>
					      </div>
					      <div class="form-group has-success">
					        <label class="col-sm-4 control-label" for="inputSuccess">Project</label>
					        <div class="col-sm-8">
					          <input type="text"  class="form-control" placeholder="Project" ng-model="form.project">
					         
					        </div>
					      </div>
					      <div class="form-group has-success">
					        <label class="col-sm-4 control-label" for="inputSuccess">Staff Field Manager</label>
					        <div class="col-sm-8">					        	
					          <select class="form-control" ng-model="form.staffIdFieldManager" ng-options="user.value as user.display for user in users"></select>			          					         
					          
					        </div>
					      </div>
					      <div class="form-group has-success">
					        <label class="col-sm-4 control-label" for="inputSuccess">Staff Responsible</label>
					        <div class="col-sm-8">						          
					          <select class="form-control" ng-model="form.staffidResponsible" ng-options="user.value as user.display for user in users"></select>	
					          
					        </div>
					      </div>
					       <div class="form-group has-success">
					        <label class="col-sm-4 control-label" for="inputSuccess">Project Result</label>
					        <div class="col-sm-8">
					          <input type="text"  class="form-control" placeholder="Project Result" ng-model="form.projectResult">
					          
					        </div>
					      </div>
					       <div class="form-group has-success">
					        <label class="col-sm-4 control-label" for="inputSuccess">Project Publication</label>
					        <div class="col-sm-8">
					          <input type="text"  class="form-control" placeholder="Project Publication" ng-model="form.projectPublication">
					         
					        </div>
					      </div>	
					       <div class="form-group has-success">
					        <label class="col-sm-4 control-label" for="inputSuccess">Project Close Date</label>
					        <div class="col-sm-8">
					          <input type="text" id="ProjectCloseDate" class="form-control" placeholder="Project Close Date"  ng-model="form.projectCloseDate" jqdatepicker>
					         
					        </div>
					      </div>
					       <div class="form-group has-success">
					        <label class="col-sm-4 control-label" for="inputSuccess">Available to Public</label>
					        <div class="col-sm-8">						          
					          <select class="form-control" ng-model="form.availableToPublic" ng-options="boolean.value as boolean.YesNo for boolean in booleans"></select>
					          
					        </div>
					      </div>
					      <div class="form-group has-success">
					        <label class="col-sm-4 control-label" for="inputSuccess">Archive Due</label>
					        <div class="col-sm-8">
					           <input type="text" id="ArchiveDue" class="form-control" placeholder="Project Close Date"  ng-model="form.archiveDue" jqdatepicker >
					          
					        </div>
					      </div>
					      <div class="form-group has-success">					       
					        <div class="col-sm-12">
					          <button class="btn btn-rounded btn-green pull-right" ng-click="submit()" type="button">Add/update</button>					         
					        </div>
					      </div>			    					    
					    </form>
					  </div>
					</div>			         	
				  </div>			    
			  </div>
			</div>           
          </div>         
        </div>
      </div>
    </div>

