<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ROCK STORE</title>

  <link href="css/bootstrap.css" rel="stylesheet">
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,800,300' rel='stylesheet' type='text/css'>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/theme.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  
 	<!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  
  
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  
    <!-- angular-UI -->
  	<link rel="styleSheet" href="js/angular-ui/ui-grid/ui-grid-stable.css"/>
	<script src="js/angular/angular.min.js"></script>
	<script src="js/angular-ui/ui-grid/ui-grid-stable.js"></script>
	<script src="js/angular-ui/ui-bootstrap/ui-bootstrap-tpls-0.13.3.min.js"></script>
	<script src="js/angular-ui/spinner/angular-spinners.min.js"></script>
	
	
	
  <!-- Angular javascript -->	
  <script src="js/rockstore/modules/app.js"></script>
  <script src="js/rockstore/controllers/loginCtrl.js"></script>
 

 
</head>

<body class="body-nav-fixed-menu-top" ng-app="app">
  <div class="wrapper-body">

    <!-- NAVBAR -->
    <!--===============================================================-->
   <div ng-include src="'navigation.html'">
   
	<div id="header"></div>
    <!-- NAVBAR END -->

   </div>
   
   <div class="section section-lg section-bottom" ng-controller="LoginCtrl">
      <div>    
        <div class="row mb">
          	<div class="section section-xs section-bottom">
		      <div class="container">
		        <div class="row mb">
		          <div class="col-md-6 col-md-offset-3">
		            <h3 class="title-md hr-left text-theme">Log in</h3>
		            <div class="panel panel-primary text-theme">
		              <div class="panel-heading">
		                <h3 class="panel-title">Log In</h3>
		              </div>
		              <div class="panel-body">
		                <form ng-submit="login()">
		                  <div class="form-group">
		                    <label for="inputEmail">Username</label>
		                    <input type="text" class="form-control" placeholder="Username" ng-model="credentials.username">
		                  </div>
		                  <div class="form-group">
		                    <label for="inputPassword">Password</label>
		                    <input type="password" class="form-control" placeholder="Password" ng-model="credentials.password">
		                  </div>		                 
		                  <button type="submit" class="btn btn-primary text-theme-xs">Login</button>		                 
		                </form>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>        
        </div>
      </div>
    </div>
   
   

</body>

</html>
