<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

    

    
	 <bean name="mintIGSNService" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="org.csiro.rockstore.igsn.ScheduleMintIGSN" />          
    </bean>
    
    <!-- Simple Trigger for vglJobStatusMonitor task, run every 5 minutes -->
    <bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail" ref="mintIGSNService" />
        <!-- property name="repeatInterval" value="300000" />
        <property name="startDelay" value="10000" /-->
        <property name="repeatInterval" value="100000" />
        <property name="startDelay" value="10000" />
    </bean>

	<bean  class="org.springframework.scheduling.quartz.SchedulerFactoryBean">	    
	    <property name="triggers">
	        <list>
	            <ref bean="simpleTrigger" />	           
	        </list>
	    </property>
	</bean>
	
	
</beans>
